#main {
    display: grid;
    grid-template-columns: 1fr; 
    width: 100%;
    gap: 1.5rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 700px) {
    #main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    #main {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    transition: all 1s ease, border 0.1s ease;
    position: relative;
    border-radius: 16px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 4px solid red;
}

.RecipeImage {
    width: calc(100% + 2rem);
    margin: -1rem -1rem 1rem -1rem;
    object-fit: cover;
    height: 250px;
}

.CourseType {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 10;

    background-color: #B1C5FF;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    margin: 0;
    font-size: 0.85rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.DeleteBtn, .FavBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #eb665a;
    color: white;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
}

.DeleteBtn:hover {
    transform: scale(1.1);
    background-color: #d84315;
}

.EditBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: auto;

    padding: 0.6rem 2rem;
    background: transparent;
    color: #930004;
    border: 1.5px solid #930004;
    border-radius: 50px;

    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.5s ease;
}

.EditBtn:hover {
    background-color: #930004;
    color: white;
}

.RecipeName {
    font-family: 'Georgia', serif; /*place holder*/
    color: #332222; /*place holder*/
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.RecipeDescription {
    font-family: 'Arial', sans-serif; /*place holder*/
    color: #665555; /*place holder*/
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}