:root {
    --backgroundColor: #f8eac5;
    --buttons: #ff654a;
    --textPrimary: #4c4842;
}

.GreatVibesRegular {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: var(--buttons);
}

html {
    font-size: 140%;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* This is to hide the html by default. Do not change this. */
body {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease; /* A simple fade-in transition on page load. */
}

/* This is the body AFTER authentication. Change this to apply new style. */
body.ready {
    visibility: visible;
    opacity: 1;
}

nav {
    min-height: 30px;
}

.testingDevMode{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}

#devModeBtn{
    color: white;
}

#devModeBtn[data-dev-mode="active"]{
    background-color: green;
}

#devModeBtn[data-dev-mode="disabled"]{
    background-color: red;
}