:root{
    --backgroundColor:#F8EAC5;
    --buttons:#FF654A;
    --textPrimary: #4C4842;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color: var(--buttons);
}
