:root {
    --backgroundColor: #f7efdb;
    --buttons: #ff654a;
    --textPrimary: #4c4842;
    --navFooterColor: #E05843;
    --fontBody: 'Plus Jakarta Sans', sans-serif;
    --shadowColor: #8a94a5cb;
    --offWhiteColor: #f5f1ea;
    --buttonHoverColorBg: #d84315;
}

.GreatVibesRegular {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: var(--buttons);
}

html {
    font-size: 140%;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* This is to hide the html by default. Do not change this. */
body {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease; /* A simple fade-in transition on page load. */
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
}

/* This is the body AFTER authentication. Change this to apply new style. */
body.ready {
    visibility: visible;
    opacity: 1;
}

nav {
    background-image: linear-gradient(to top,#ff4800, rgb(254, 137, 110));
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50; /* This is to make it above everything else*/
    box-shadow: 0 12px 32px -4px var(--shadowColor);
}

.NavContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.NavBrand {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: whitesmoke;
    text-decoration: none;
}

.NavLinks {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.NavLinks a {
    text-decoration: none;
    color: #691000;
    font-family: var(--fontBody);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent; 
    transition: color 0.3s ease, border-color 0.3s ease;
}

.NavLinks a:hover {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.NavLinks a .material-symbols-rounded {
    transition: color 0.3s ease;
}

.NavLinks a:hover .material-symbols-rounded {
    color: whitesmoke;
}

.testingDevMode{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}

#devModeBtn{
    color: white;
}

#devModeBtn[data-dev-mode="active"]{
    background-color: green;
}

#devModeBtn[data-dev-mode="disabled"]{
    background-color: red;
}